util/credentials.json
util/token.json
data/CS.csv
data/NS.csv
data/PC.csv
run_all1.sh
audio_download_and_split/test_urldownload.py
#DS_STORE
.DS_STORE
.data
.venv
.env
venv/
venv311/
.venv/
__pycache__/
*.pycvenv311/
.venv/
__pycache__/
.env
**/.env
