util/credentials.json
util/token.json
run_all1.sh
audio_download_and_split/test_urldownload.py
#DS_STORE
.DS_STORE
.data
.venv
.env
venv/
venv311/
.venv/
__pycache__/
*.pycvenv311/
.venv/
__pycache__/
.env
**/.env

# Ignore all generated/local data (audio, csv, segments, etc.)
data/
